
.room-layout{
  height: 100%;
  display: grid;
  grid-template-columns: 3fr auto;
  grid-template-rows: 100%;
 
}
.user-form>*{
  margin: 0px auto;
  padding: 10px
}
.user-form{
  background: black;
  height: 100%
}

.user-form form{

  padding: 10px;
  border: solid  white;
  margin: 40% auto

}

.room-container{
  display: grid;
  grid-template-rows:  90% 10%
  
}

.side-bar{
  max-height: 100%;
  /* overflow-y: scroll; */
  width: 250px;
/*   overflow-x: hidden; */
  grid-template-rows: 100%;
  display: grid;
  grid-template-rows: 48% auto 48%;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
 
}


.video-area{
  width: 100%;
  height: 100%;
 /*  padding: 5px 5px; */
  display: grid;
  grid-template-columns: 4fr 1fr;
  overflow: hidden;
 
}
.video-wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(30%, 1fr));

}
.video-wrapper> video{
 
  padding: 4px
}




video,canvas {
  width: 100% ;
  height: 100% ;
  margin: 0px;
 
} 

.user-video {
 /*  width: 150px;
  height: 150px;  */ 
 
}
.synth{
 /*  width: 50px;
  height: 150px;   */
  
}
.userStream{
  display: grid;
  
  align-content: flex-end;
  justify-content: center;
  grid-template-rows: 25%;
  box-sizing: border-box;
 overflow: hidden;
}
.userStream > div{
 height: 100%;
  display: grid;
  grid-template-rows: 5fr  1fr;
  padding: 4px 5px;
   

}

.userList{
  height: 100%;
  padding: 5px 10px;
  margin: 20px 10px;
  overflow-y: scroll;
  overflow-x:  hidden; 
}
.userList-container{
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 10px;
}
.chat{
  
  display: grid;
  grid-template-rows: 10%  80% 10%;
  padding: 10px;

}
.messages{
  overflow-y: scroll;
  overflow-x:  hidden;
  padding: 10px;
  margin-bottom: 5px;
}

#message-input, .home form{
  border: solid #3498db;

}

.home form{
  padding:15px 10px;
  border-radius: 8px;
}


.loading-container,.home{
  background: black;
  width: 100%;
  height: 100%;
  display: grid;
  
  align-content: center;
  justify-content: center;
}
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

	
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}