
.room-layout{
  height: 100%;
  display: grid;
  grid-template-columns: 3fr auto;
  grid-template-rows: 100%;
}
.user-form>*{
  margin: 0px auto;
  padding: 10px
}
.user-form{
  background: black;
  height: 100%
}

.user-form form{

  padding: 10px;
  border: solid  white;
  margin: 40% auto

}

.room-container{
  display: grid;
  grid-template-rows:  90% auto
}

.side-bar{
  max-height: 100%;
  /* overflow-y: scroll; */
  width: 250px;
/*   overflow-x: hidden; */
  grid-template-rows: 100%;
  display: grid;
  grid-template-rows: 48% auto 48%;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
 
}

.tabs{
  display: grid;
  grid-template-rows: 8% 92%;
   
}
.video-area{
  width: 100%;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 4fr 1fr
}
.video-wrapper{
  width: 100%;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));

  position: relative;

}

.video-container{
 
  padding: 8px 1px;
  margin: 10px;
  text-align: center;


}


.overlay {
  position: absolute; 
  top: 0; 
  left: 0;

  /*  */
  width: 100%;
  height: 100%;
  padding: 10px 0;
  z-index: 2147483647;

  
}
video {
  width: 100%    ;
  height: 100%  ;
 
} 

.user-video {
   position: absolute;
  bottom:0px;
  right: 0%; 
  width: 150px;
  height: 150px;
  
}
.userList{
  height: 100%;
  padding: 5px 10px;
  margin: 20px 10px;
  overflow-y: scroll;
  overflow-x:  hidden; 
}
.userList-container{
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 10px;
}
.chat{
  
  display: grid;
  grid-template-rows: 10%  80% 10%;
  padding: 10px;

}
.messages{
  overflow-y: scroll;
  overflow-x:  hidden;
  padding: 10px;
  margin-bottom: 5px;
}

#message-input{
  border: solid #5F0C68;

}

