
.room-layout{
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100%

}
.room-container{
  display: grid;
  grid-template-rows:  auto 12%
}

.side-bar{
  max-height: 100%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  grid-template-rows: 100%;
  display: grid;
  grid-template-rows: 48% auto 48%;

 
}
.tabs{
  display: grid;
  grid-template-rows: 8% 92%;
   
}
.video-wrapper{
  
 padding: 20px 0;
  display: grid;
  grid-template-columns: 30fr 1fr

}

.userList{
  height: 100%;
  padding: 5px 10px;
  margin: 20px 10px;
  overflow-y: scroll;
  overflow-x:  hidden; 
}
.userList-container{
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 10px;
}
.chat{
  
  display: grid;
  grid-template-rows: 10%  80% 10%;
  padding: 10px;

}
.messages{
  overflow-y: scroll;
  overflow-x:  hidden;
  padding: 0;
}



